@media(min-width:1200px) and (max-width:1600px) {
	.tp-leftarrow.tparrows.default.round {
		left: 30px !important;
		top: 49% !important;
	}

	.tp-rightarrow.tparrows.default.round {
		right: 30px !important;
		top: 49% !important;
	}

	.revCont,
	.revBtn {
		margin-left: -65px;
	}

	.home_two .revCont,
	.home_two .revBtn {
		margin-left: 0;
	}
}

@media(min-width:991px) and (max-width:1200px) {
	.socialmedia {
		margin-left: 0;
	}

	.footer .widget {
		margin-bottom: 60px;
	}

	.news2thumbwrap {
		margin-top: 30px;
	}

	.abgroupImg {
		padding-left: 0;
	}
}

@media (min-width:980px) and (max-width:1280px) {
	.revCont, .revBtn {
		margin-left: 100px;
	}
}

@media(min-width:768px) and (max-width:990px) {
	.headerMRightinfo {
		text-align: left;
	}

	.singlehmib {
		margin-left: 10px;
	}

		.singlehmib::after {
			left: -7px;
		}

	.mainnav ul li, .mainnav2 ul li {
		margin-right: 23px;
	}

	.socialmedia {
		margin-left: 0;
	}

	.revCont, .revBtn {
		margin-left: 150px;
	}

	.tp-rightarrow.tparrows.default.round {
		right: 15px !important;
	}

	.tp-leftarrow.tparrows.default.round {
		left: 15px !important;
	}

	.singFaq a {
		line-height: 24px;
	}

	.contactForm textarea {
		margin-top: 30px;
	}

	.footer .widget {
		margin-bottom: 60px;
	}

	.news2thumbwrap {
		margin-top: 30px;
	}

	.serv2Title {
		line-height: 24px;
	}

	.single3news.noMarginBottom {
		margin-bottom: 30px !important;
	}

	.abgroupImg {
		padding-left: 0;
	}

	.logoh2 {
		margin-top: 10px;
	}

		.logoh2 img {
			width: 100%
		}

	.mainnav2 ul li {
		margin-right: 16px;
	}
}

@media(min-width:320px) and (max-width:767px) {
	.colorPresetArea {
		display: none;
	}

	.headerTopbar {
		text-align: center;
	}

	.headTOpinfo {
		margin-bottom: 10px;
	}

	.rightheaderlink, .resMobcenter {
		text-align: center;
	}

	.flagList {
		right: 15px;
	}

	.headerMRightinfo {
		text-align: center;
	}

	.logo {
		margin-bottom: 35px;
		text-align: center;
	}

	.singlehmib {
		margin-left: 0;
		width: 60%;
		margin-bottom: 20px;
	}

		.singlehmib::after {
			background: none;
		}

		.singlehmib i.fa-mobile-phone {
			left: 5px;
		}

	/**Mobile menu**/
	.header.headerTwo {
		padding: 15px 0 25px;
	}

		.header.headerTwo.fixedHeader {
			padding: 5px 0 20px;
		}

	.mainnav, .mainnav2 {
		padding: 20px 0
	}

	.mobileMenu, .mobileMenu2 {
		height: 20px;
		line-height: 0.5;
		width: 30px;
		position: absolute;
		right: 15px;
		top: 28px;
		cursor: pointer;
	}

		.mobileMenu.active span, .mobileMenu2.active span {
			background: #073C51;
		}

		.mobileMenu span, .mobileMenu2 span {
			width: 100%;
			height: 2px;
			display: inline-block;
			background: #fff;
		}

		.mobileMenu2 span {
			background: #000;
		}

	.logoMobile {
		margin-bottom: 30px;
	}

	.mainnav ul, .mainnav2 ul {
		line-height: 0.8;
		height: 300px;
		overflow: scroll;
		display: none;
		padding-top: 5px;
	}

		.mainnav2 ul li a {
			color: #fff;
		}

		.mainnav ul li, .mainnav2 ul li {
			display: block;
			margin: 0 0 20px;
			padding: 0 0 20px;
			text-align: left;
			border-bottom: 1px solid #00475B;
		}

		.mainnav ul ul.sub-menu, .mainnav2 ul ul.sub-menu {
			background: #00475B none repeat scroll 0 0;
			left: 0;
			margin-left: 0;
			opacity: 1;
			position: relative;
			visibility: visible;
			width: 100%;
			top: 20px;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
		}

			.mainnav ul ul.sub-menu li, .mainnav2 ul ul.sub-menu li {
				border-bottom: 1px solid #025E72;
				display: block;
				margin: 0 20px;
				padding-bottom: 20px;
				padding-top: 20px;
			}

	.socialmedia {
		margin-left: 0;
	}

	.mainnav ul li:hover ul.sub-menu, .mainnav2 ul li:hover ul.sub-menu {
		top: 20px;
	}

	.has-menu-items {
		position: relative;
	}

	.mainnav ul .has-menu-items a::before, .mainnav2 ul .has-menu-items a::before {
		background: #00475B none repeat scroll 0 0;
		color: #ffffff;
		content: "\f077";
		font-family: FontAwesome;
		font-size: 8px;
		height: 18px;
		left: auto;
		line-height: 0.8;
		padding: 6px 5px;
		position: absolute;
		right: 20px;
		top: 0;
		width: 18px;
	}

	.mainnav ul .has-menu-items.active a:before, .mainnav2 ul .has-menu-items.active a:before {
		content: '\f078';
	}

	.mainnav ul .has-menu-items ul.sub-menu li a::before, .mainnav2 ul .has-menu-items ul.sub-menu li a::before {
		content: '';
		background: transparent;
	}

	.mainnav ul ul.sub-menu, .mainnav2 ul ul.sub-menu {
		height: inherit;
	}

	.mainnav2 ul {
		background: #333333 none repeat scroll 0 0;
		display: inline-block;
		left: 0;
		padding: 20px;
		position: absolute;
		top: 66px;
		width: 100%;
		z-index: 999;
		display: none;
	}

	.searchHeader2 {
		display: inline-block;
		margin: auto;
		position: absolute;
		right: 73px;
		top: 25px;
	}

	.logoh2 {
		position: absolute;
	}

	.searchMe a.cluseSearch {
		right: 30px;
	}

	.searchMe input {
		left: 0;
	}

	.searchMe input {
		width: 90%;
	}

	.revCont {
	}

		.revCont h1 {
			margin-top: -120px;
			line-height: 45px;
		}

		.revCont h2 {
			margin-top: -30px;
			line-height: 30px;
		}

		.revCont p {
			margin-top: 100px;
			line-height: 20px;
		}

	.revBtn a {
		margin-top: 180px;
	}

	.tp-leftarrow.tparrows.default.round {
		left: 68% !important;
		top: 92% !important;
	}

	.tp-rightarrow.tparrows.default.round {
		right: 15px !important;
		top: 92% !important;
	}

	.singleServices2 {
		margin-top: 0;
	}

	#testcarosel {
		margin-bottom: 50px;
	}

	.singFaq a {
		line-height: 24px;
	}

	.contactForm textarea {
		margin-top: 30px;
	}

	.singlenews2 {
		margin-bottom: 30px;
	}

	.footer .widget {
		margin-bottom: 50px;
	}

	.copyright p {
		line-height: 26px;
		text-align: center;
	}

	.single3news.noMarginBottom {
		margin-bottom: 30px !important;
	}

	.single4servIn h2 {
		line-height: 24px;
	}

	.abCont {
		margin-bottom: 30px;
	}

	.abgroupImg {
		padding-left: 0;
	}

	.testAutho h2 {
		line-height: 20px;
	}

	.commonSectionTitleIn h2 {
		line-height: 30px;
	}

	.pdfDownload {
		margin-bottom: 30px;
	}

	.blogMeta, .blogMeta a {
		line-height: 24px;
	}

	.errorIn h1 {
		font-size: 115px;
	}

	.commentForm {
		margin-bottom: 30px;
	}

	.formmargin2 {
		margin-bottom: 0;
	}

	.commentForm textarea {
		margin-bottom: 30px;
	}
}
